@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&display=swap');

#container {
  background-color: #E0CBC8;
  font-family: 'Montserrat', sans-serif;
  width: 100vw;
  height: 100vh;
  position: relative;
  z-index: -100;


}



#title {
  position: absolute;
  top: 10%;
  left: 0;
  line-height: 0;
  letter-spacing: 0.5em;
  text-align: center;
  font-size: 500%;
  width: 100%;
  max-width:30%
  height: auto;
  z-index: 10;
}

#title h1 {
  color: #FFFFFF;
}


#title h2 {
  color:#0F1E3D;

}

h3 {
  color: #FFFFFF;
  font-size: 30px;

}

h4 {
  color: #FFFFFF;
  font-size: 15px;
}

h6 {
  color: #0F1E3D;
  font-size: 50px;
}

#countdown {
  position: absolute;
  top: 20px;
  right: 50px;
  max-width: 15%;
  text-decoration: underline;
  text-decoration-color: #FFFFFF;

}

#image {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  min-width: 50%;
}

#image img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  opacity: 90%;

}

#side {
  position: absolute;
  top: 50%;
  left: 0;
  transform: rotate(270deg);
  max-width: 30%;

}

#invite {
  position: absolute;
  top: 75%;
  left: 0%;
  width: 100%;
  min-width: 200px;
  text-align: center;

}

#date {
  position: absolute;
  top: 76%;
  left: 0%;
  width: 100%;
  min-width: 200px;
  text-align: center;
}
