@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@700&family=Montserrat:wght@700&display=swap');

#container {
  background-color: ##EBD2E0;
  width: 100vw;
  height: 100vw;
  position: relative;
  /* behind everything */
  z-index: -100;

}



.image img{
  /* centering trick */
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  /* move behind text */
  z-index: -10;
}
